@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #0DC4FC, #0CF2EC);
    }

main {
    margin: auto;
    padding: 30px;
    background-color: white;
    width: 450px;
    height: 750px;
    text-align: justify;
    border: 2px solid black;
    box-shadow: 2px 2px 15px #0073E6;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: #120CF2;
}

h2 {
    color: #0D45FC;
}

h1, h2 {
    text-decoration: underline;
}